<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Forum</title>
    {{ css('app') }}
  </head>
  <body>
    @include('layouts/partials/_navigation')
    @include('forum/partials/_navigation')
    <section class="container">
      <div class="columns">
        <div class="column is-3">
          @include('forum/partials/_sidebar')
        </div>
        <div class="column is-9">
          @!section('content')
        </div>
      </div>
    </section>
  </body>
</html>
